@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(70, 142, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align:  center;
    color:  white;
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding-top: 40px;
}

section{
    background-color: white;
    width: 800px;
    min-height: 500px;
    border-radius: 20px;
    padding: 40px 80px;
}

div{
    font-size: 2.5em;
}

div > input {
    width: 300px;
    height: 25px;
}


